/* Styling for header */
.box {
  position:relative;
  margin: 10px;
  top: 111px;
  margin-left: 117.08px;
}

header {
  display: flex;
  width: 167px;
  height: 29px;
  top: -100px;
  left: 0;
  background-color: transparent;
  z-index: 1;
}

/* .box-logo {
  margin-right: 10px;
  position: relative;
  justify-content: left;
  top: -100px;
  left: 117.08px;
  width: 167px;
  height: 29px;
} */

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: absolute;
  width: 234px;
  height: 15px;
  top: 2px;
  left: 869px;
}

.menu .text-wrapper,
.menu .div,
.menu .text-wrapper2 {
  text-decoration: none;
  margin: 52px;
  width: 234px;
  height: 15px;
  font-family: "Source Sans Pro-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
  top: 112.98px;
  margin-right: 227.67px
}

/* End of header styling */

/* Banner Styling */

body {
  margin: 0;
}

.banner {
  display: flex;
  background: url('images/background.png') center/cover;
  position: relative;
  height: 100%;
  z-index: 0;
}
