@font-face {
  font-family: 'Source Sans Pro';
  src: url('https://www.fontsquirrel.com/fonts/source-sans-pro') format('opentype');
  font-weight: normal;
  /* font-style: normal; */
}

/* Styling for header */

body {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

/* main {
  width: 100%;
} */

header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 1103.408px;
  height: 29.461px;
  z-index: 1;
  margin-left: 117.08px;
  margin-right: 227.67px;
  margin-top: 56px;

}

#navbar {
  display: flex;
  align-items: right;
  gap: 52px;
  justify-content: space-evenly;

}

#navbar a {
  color: #FFF;
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}

/* Banner Styling */

.banner {
  display: flex;
  flex-direction: column;
  background: url('images/background.png') center/cover;
  width: 100%;
  height: 1093px;
  margin-top: 0px;
  z-index: 0;
}

.container h1 {
  display: flex;
  justify-content: center;
  color: #FFF;
  font-family: "Source Sans Pro";
  font-size: 120px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  margin-top: 225px;
}

.smile p {
  display: flex;
  flex-direction: row;
  font-family: "Source Sans Pro";
  justify-content: center;
  word-spacing: 59px;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: -100px;
  color: #FFF;
}

#button {
  margin: -38px auto;
  display: flex;
  align-items: center;
  width: 162px;
  height: 44px;
  padding: 10px 20px;
  border-radius: 22px;
  background: #C271FF;
  cursor: pointer;
  color: #FFF;
  text-align: center;
  font-family: "Source Sans Pro";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.LFTP {
  margin-top: 168px;
  color: #C271FF;
  text-align: center;
  font-family: "Source Sans Pro";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.highlight {
  color: #FFF;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  line-height: normal;
  font-size: 32px;
}

/* Everything above is complete and perf */
/* Awards */

.center-horizontally {
  display: flex;
  justify-content: center;
  margin-left: 221.08px;
  margin-right: 218.08px;
  margin-bottom: 10px;

}

.text-wrapper {
  text-align: center;
}

.people {
  margin-top: 101px;
  display: flex;
  justify-content: center;
  gap: 139px;
  margin-bottom: 98px;
}

.circle {
  border-radius: 50%;
}

.name {
  color: #FFF;
  text-align: center;
  font-family: "Source Sans Pro";
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: 27px;
}

.award {
  color: #FFF;
  text-align: center;
  font-family: "Source Sans Pro";
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
}

/* Banner section is complete */

/* QUOTES */

#quote .center-horizontally {
  display: flex;
  justify-content: space-around;
  width: 1009px;
  height: 237px;
  top: 824px;
  left: 221.08px;
  right: 221.08px;
}

#quote {
  background: url('images/quote_background.png') center/cover;
  display: flex;
  /* justify-content: left; */
  max-width: 1685px;
  width: 100%;
  height: 392px;
}

#quote .text-wrapper {
  margin-top: 75px;
  color: #FFF;
  font-family: "Source Sans Pro";
  font-size: 15px;
  line-height: 33.6px;
  width: 100%;
  height: 58px;
  text-align: left;
}

.circle_quote {
  border-radius: 50%;
  width: 160px;
  height: 160px;
  margin-top: 83px;
  margin-left: 143px
}

.light {
  font-weight: lighter;
  text-align: left;
}

.italic light {
  margin-top: 33.6px;
  font-style: italic;
  width: 165px;
}

#quote p {
  margin-left: 40px;
}

/* Quote section still needs work */

/* Video Section */

.videos {
  width: 1440px;
  height: 450px;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.videos-title {
  display: flex;
  position: absolute;
  color: #071629;
  text-align: center;
  font-family: "Source Sans Pro";
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  word-spacing: normal;
}

.videos-title .highlight {
  font-size: 36px;
  color: #C271FF;
  font-weight: 700;
  font-family: "Source Sans Pro";
}

.videos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 80px;
  width: 1228px;
  height: 450px;
  flex-shrink: 0;
}

.Video1 {
  width: 255px;
  height: 335px;
  margin-top: 115px;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 2px 4px 0px rgba(7, 22, 41, 0.18);
}

.play_button {
  position: relative;
  left: 50%;
  top: 50%;
  bottom: 226px;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.play {
  width: 64px;
  height: 64px;
  bottom: 834px;
  margin-left: 100px;
}

.videos .Author {
  color: #C271FF;
  font-family: "Source Sans Pro";
  font-size: 14px;
  font-weight: 600;
  line-height: 27px;
  margin-top: 10px; /* Adjust the margin based on your design */
}

.videos .Rating {
  display: flex;
  align-items: center;
  margin-top: 5px; /* Adjust the margin based on your design */
}
