@font-face {
  font-family: 'Source Sans Pro';
  src: url('https://www.fontsquirrel.com/fonts/source-sans-pro') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Styling for header */
body {
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

main {
  width: 100%;
}

header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 1103.408px;
  height: 29.461px;
  z-index: 1;
  margin-left: 117.08px;
  margin-right: 227.67px;
  margin-top: 56px;

}

#navbar {
  display: flex;
  align-items: right;
  gap: 52px;
  justify-content: space-evenly;

}

#navbar a {
  color: #FFF;
  font-family: "Source Sans Pro";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}

/* Banner Styling */

.banner {
  display: flex;
  flex-direction: column;
  background: url('images/background.png') center/cover;
  width: 100%;
  height: 1093px;
  margin-top: 0px;
  z-index: 0;
}

.container h1 {
  display: flex;
  justify-content: center;
  color: #FFF;
  font-family: "Source Sans Pro";
  font-size: 120px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  margin-top: 225px;
}

.smile p {
  display: flex;
  flex-direction: row;
  font-family: "Source Sans Pro";
  justify-content: center;
  word-spacing: 59px;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: -100px;
  color: #FFF;
}

#button {
  margin: -38px auto;
  display: flex;
  align-items: center;
  width: 162px;
  height: 44px;
  padding: 10px 20px;
  border-radius: 22px;
  background: #C271FF;
  cursor: pointer;
  color: #FFF;
  text-align: center;
  font-family: "Source Sans Pro";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.LFTP {
  margin-top: 168px;
  color: #C271FF;
  text-align: center;
  font-family: "Source Sans Pro";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.highlight {
  color: #FFF;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  line-height: normal;
  font-size: 32px;
}

/* Everything above is complete and perf */
/* Awards */

.center-horizontally {
  display: flex;
  justify-content: center;
  margin-left: 221.08px;
  margin-right: 218.08px;
  margin-bottom: 10px;
}

.text-wrapper {
  text-align: center;
}

.people {
  margin-top: 101px;
  display: flex;
  justify-content: center;
  gap: 139px;
  margin-bottom: 98px;
}

.circle {
  border-radius: 50%;
}

.name {
  color: #FFF;
  text-align: center;
  font-family: "Source Sans Pro";
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: 27px;
}

.award {
  color: #FFF;
  text-align: center;
  font-family: "Source Sans Pro";
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
}

/* Banner section is complete */

/* QUOTES */

#quote .center-horizontally {
  justify-content: center;
}

#quote {
  background: url('images/quote_background.png') center/cover;
  display: flex;
  height: 392px;
  width: 100%;

}

#quote .text-wrapper {
  margin-top: 110px;
  color: #FFF;
  font-family: "Source Sans Pro";
  font-size: 15px;
  line-height: 33.6px;
  width: 100%;
  height: 58px;
  text-align: left;
}

.circle_quote {
  border-radius: 50%;
  width: 160px;
  height: 160px;
  margin-top: 88px;
  margin-left: 210px
}

.light {
  font-weight: lighter;
  text-align: left;
}

.italic light {
  margin-top: 33.6px;
  font-style: italic;
  width: 165px;
}

#quote p {
  margin-left: 40px;
}
